* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f7f7f4;
    color: #111;
    font-family: Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    height: 80px;
    padding: 0 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: 25px;
    font-weight: bold;
}

.logo span {
    color: #777;
}

nav {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 13px;
}

nav a {
    color: #666;
}

.button {
    background: #111;
    color: white !important;
    padding: 13px 20px;
}

.hero {
    min-height: 700px;
    padding: 100px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    background:
        radial-gradient(circle at 80% 40%, #d7d7d0, transparent 30%);
}

.hero h1 {
    font-size: clamp(65px, 9vw, 130px);
    line-height: .85;
    letter-spacing: -6px;
}

.hero h1 span {
    color: #888;
}

.hero > div:first-child > p:first-child,
.label {
    color: #777;
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

.description {
    color: #777;
    max-width: 500px;
    line-height: 1.8;
    margin: 40px 0;
}

.floating-card {
    width: 230px;
    height: 280px;
    background: #111;
    color: white;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotate(5deg);
}

.floating-card strong {
    font-size: 50px;
}

.floating-card span {
    color: #aaa;
}

.stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid #ddd;
}

.stats div {
    padding: 40px;
    border-right: 1px solid #ddd;
}

.stats strong {
    display: block;
    font-size: 40px;
}

.stats span {
    color: #777;
    font-size: 12px;
}

.courses {
    padding: 130px 8%;
    border-bottom: 1px solid #ddd;
}

.courses h2,
.about h2,
.apply h2 {
    font-size: clamp(48px, 7vw, 95px);
    line-height: .9;
    letter-spacing: -5px;
    margin-bottom: 70px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.course-grid article {
    padding: 35px;
    border: 1px solid #ddd;
    min-height: 330px;
}

.course-grid article > span {
    color: #aaa;
}

.course-grid h3 {
    margin-top: 100px;
    font-size: 30px;
}

.course-grid p {
    color: #777;
    line-height: 1.7;
    margin: 15px 0 25px;
}

.course-grid a {
    font-size: 12px;
    border-bottom: 1px solid #aaa;
}

.about {
    padding: 130px 8%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    background: #111;
    color: white;
}

.about > div:last-child {
    color: #999;
    line-height: 1.9;
    max-width: 500px;
}

.about > div:last-child p {
    margin-bottom: 30px;
}

.apply {
    padding: 130px 8%;
    text-align: center;
}

.apply h2 {
    margin-bottom: 60px;
}

form {
    max-width: 550px;
    margin: auto;
    display: grid;
    gap: 12px;
}

input,
select,
button {
    padding: 16px;
    border: 1px solid #ccc;
    background: white;
    font-family: Arial;
}

button {
    background: #111;
    color: white;
    cursor: pointer;
}

footer {
    padding: 40px 8%;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    color: #777;
    font-size: 11px;
}

footer strong {
    color: #111;
}

@media(max-width:750px) {

    nav a:not(.button) {
        display: none;
    }

    .hero {
        padding: 80px 5%;
    }

    .floating-card {
        display: none;
    }

    .stats,
    .course-grid,
    .about {
        grid-template-columns: 1fr;
    }

    .stats div {
        border-bottom: 1px solid #ddd;
    }

    .courses,
    .about,
    .apply {
        padding: 90px 5%;
    }

    footer {
        flex-direction: column;
        gap: 15px;
    }
}